span.input-group-addon {
    position: absolute;
    right: 0;
    top: 0px;
    background: #ddd;
    padding: 5px;
    height: 84%;
    width: 29px;
    text-align: center;
    line-height: 23px;
}

#preview-crop-image {
    background: #ffffff;
    width: 250px;
    border: 10px solid #333;
    height: 250px;
    display: inline-block;
    margin-bottom: 20px;
}

button.upload-image {
    height: 50px;
}

.croppie-container .cr-boundary {
    margin: 0px;
}

.croppie-container .cr-slider-wrap {
    margin: 15px 0px;
}

.upload-image {
    width: 160px;
}

.tree_container {
    width: 100%;
    padding: 20px;
    border: 1px solid #aaa;
}

.tree_title {
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    margin-bottom: 20px;
    border-bottom: 1px solid #777;
    border-bottom-style: dashed;
    width: 120px;
}

.table_container {
    width: 100%;
    padding: 20px;
    border: 1px solid #aaa;
}

.table_container .table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_container label {
    margin-bottom: 0;
    margin-right: 10px;
}

.category_container select {
    margin-bottom: 0;
}

.table_title {
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    margin-bottom: 20px;
    border-bottom: 1px solid #777;
    border-bottom-style: dashed;
}

#homecategory_list {
    width: 250px;
}